<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/tickets/"> <!-- Establece la base para todas las URLs relativas -->
        <link rel="stylesheet" type="text/css" href="static/css/login/login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="shortcut icon" href="" />

        
        <title>IT Support - Tickets (login)</title>

    </head>
    <body>
        <div class="container-form login">
            <div class="information">
                <div class="info-childs">
                    <img class="logopng" src="static/img/LOGOTIPO.png" alt="">
                    <br>
                    <br>
                    <h2>IT Support</h2>
                    <p>Sistema para levantar reportes al departamento de sistemas.</p>
                </div>
            </div>
            <div class="form-information">
                <div class="form-information-childs">
                    <form class="form" method="post">
                        <div class="title">Bienvenido,<br>Inicia sesion para continuar</div>
                        <input class="input" name="email" placeholder="Correo Electronico" type="email" required>
                        <input class="input" name="pass" placeholder="Contraseña" type="password" required>

                        <button class="button-confirm">Let`s go →</button>
                      </form>
                </div>
            </div>
        </div>

    </body>
</html>